<html>
  <body>
    <table>
      <tr>
        <td>name</td>
        <td>data['name']</td>
      </tr>
      <tr>
        <td>email</td>
        <td>data['email']</td>
      </tr>
      <tr>
        <td>phone</td>
        <td>data['phone']</td>
      </tr>
      <tr>
        <td>salary</td>
        <td>data['salary']</td>
      </tr>
      <tr>
        <td>hike_date</td>
        <td>data['hike_date']</td>
      </tr>
      <tr>
        <td>department</td>
        <td>data['department']</td>
      </tr>
    </table>
  </body>
</html>
