<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="signup_page">
        <h1>signup</h1>
        <form method="post" action="signup">
            <div>
                <label>User_name</label>
                <input type="text" name="user_name" placeholder="enter username" />
            </div>
            <div>
                <label>user_Password</label>
                <input type="password" name="user_password" placeholder="enter password" />
            </div>
            <div>
                <label>confirm Password</label>
                <input type="password" name="confirm_password" placeholder="Re-enter password" />
            </div>
            <div>
                <label>mobile number</label>
                <input type="integer" name="mobile_number" placeholder="enter mobile number" />
            </div>
            <div>
                <label>email</label>
                <input type="text" name="email" placeholder="email" />
            </div>

            <div>
                <input type="submit" value="signup" />
            </div>
        </form>
    </div>
</body>

</html>