<html>
    <body>
        <table>
            <tr>
                <td>User_name</td>
                <td>{{data['user_name']}}</td>
            </tr>
            <tr>
                <td>user_Password</td>
                <td>{{data['use_password']}}</td>
            </tr>
            <tr>
                <td>Password</td>
                <td>{{data['confirm password']}}</td>
            </tr>
            <tr>
                <td>integer</td>
                <td>{{data['mobile number']}}</td>
            </tr>
            <tr>
                <td>integer</td>
                <td>{data['email']}</td>
            </tr>
        </table>
    </body>
</html>